---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';

---

<Layout title="Contact - Antiquity">
  <div 
    class="min-h-screen pt-16 bg-cover bg-center bg-no-repeat"
    style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ancient-history-astro/images/rome.jpg');"
  >
    <ContactForm />
  </div>
</Layout>